* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar {
  width: 35px;
  height: 35px;
  padding-top: 20px;
  padding-left: 10px;
  display: block;
  display: none;
}

@media (max-width: 1000px) {
  .nav-bar {
    display: block;
    display: inline-block;
  }
}

.items {
  width: 35px;
  height: 3px;
  background-color: #faf8f8;
  margin-top: 8px;
}

.container {
  width: 100%;
  background-color: #06068f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (max-width: 1000px) {
  .container {
    display: block;
  }
}

.logo {
  padding: 20px 10px;
  font-size: 2.2em;
}

@media (max-width: 1000px) {
  .logo {
    padding: 0px 70px;
    font-size: 1.5em;
  }
}

.logo .mart, .logo .plus {
  color: #facd06;
}

.logo .mart {
  text-decoration: underline;
}

.search-bar {
  position: relative;
  width: 50%;
  padding-top: 20px;
  margin-left: 5%;
}

@media (max-width: 1000px) {
  .search-bar {
    width: 100%;
    margin: 0;
    padding-top: 4px;
    position: relative;
  }
}

.search-bar .input {
  width: 90%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid white;
}

@media (max-width: 1000px) {
  .search-bar .input {
    width: 100%;
    border-radius: 0px;
    border-bottom: 1px solid #06068f;
  }
}

.search-bar .input[placeholder] {
  padding-left: 30px;
  font-size: 1em;
}

.search-bar .fa {
  position: absolute;
  right: 12%;
  z-index: 0;
  top: 30px;
  color: #06068f;
  font-weight: lighter;
  font-size: 2em;
}

@media (max-width: 1000px) {
  .search-bar .fa {
    right: 10px;
    top: 15px;
    z-index: 1;
    position: absolute;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
}

@media (max-width: 1000px) {
  .contact {
    display: block;
    width: 100%;
    display: none;
  }
}

.contact div {
  padding: 0 10px;
  font-size: 0.8em;
}

.contact div i {
  color: #facd06;
  font-size: 2em;
  padding-bottom: 10px;
}

.contact div .p-available {
  padding-bottom: 20px;
}

.header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #06068f;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .header2 {
    display: block;
    display: none;
  }
}

.check-ins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .check-ins {
    display: block;
    text-align: center;
  }
}

.check-ins li {
  padding: 20px 10px;
  cursor: pointer;
}

.contact2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-right: 40px;
}

@media (max-width: 1000px) {
  .contact2 {
    display: block;
    text-align: center;
  }
}

.contact2 i, .contact2 p {
  padding: 0 10px;
}

.section1 {
  position: relative;
}

.section1 .section1-div {
  position: relative;
  color: white;
}

@media (max-width: 1000px) {
  .section1 .section1-div a img {
    max-height: 700px;
  }
}

.section1 .section11-div {
  width: 40%;
  color: white;
}

@media (max-width: 800px) {
  .section1 .slider {
    height: 250px;
  }
}

.section1 .huge {
  top: 20%;
  left: 7%;
  position: absolute;
  font-size: 3em;
  width: 40%;
}

@media (max-width: 1000px) {
  .section1 .huge {
    font-size: 1.5em;
  }
}

@media (max-width: 800px) {
  .section1 .huge {
    font-size: 0.8em;
  }
}

.section1 .huge span {
  color: #6eeee8;
}

.section1 .huge p {
  margin-top: 20px;
}

.section1 .sale-p {
  top: 50%;
  position: absolute;
  left: 7%;
}

.section1 .shop-button {
  top: 70%;
  left: 7%;
  position: absolute;
  border: 1px solid white;
  background: none;
  color: white;
  font-weight: bold;
  padding: 10px 35px;
  font-size: 1em;
  border-radius: 50px;
}

.section2 .section2-div {
  padding: 20px 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .section2 .section2-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section2 .section2-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
}

@media (max-width: 800px) {
  .section2 .section2-div div {
    padding: 50px 0px;
  }
}

.section2 .section2-div .borderdeco {
  border-right: 1px solid grey;
}

@media (max-width: 800px) {
  .section2 .section2-div .borderdeco {
    border-right: none;
  }
}

.section2 .section2-div .iconify {
  font-size: 2em;
  color: #06068f;
}

.section3 {
  width: 100%;
  background-color: #d4d3d3;
}

.section3 .section3-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px;
}

.section3 .section3-div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px 20px;
}

.section3 .section3-div1 .image-big {
  width: 50%;
}

.section4 {
  width: 100%;
}

.section4 .section4-div .flash-header .flash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.section4 .section4-div .flash-header .flash .h-flash {
  color: #b10505;
}

.section4 .section4-div .flash-header .flash a {
  color: black;
  font-size: 0.9em;
}

.section4 .section4-div .flash-deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .section4 .section4-div .flash-deals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section4 .section4-div .flash-deal {
  width: 200px;
  text-align: center;
}

@media (max-width: 1000px) {
  .section4 .section4-div .flash-deal {
    width: 50%;
  }
}

.section4 .section4-div .flash-deal p {
  font-size: 0.9em;
}

.section4 .section4-div .flash-deal img {
  width: 100%;
}

.section4 .section4-div .flash-deal h1 {
  background: #f7a8a8;
  color: red;
  margin: 0px 50px;
  border-radius: 10px;
}

.section4 .section4-div .flash-deal b {
  color: red;
}

.section4 .section4-div .flash-deal button {
  border: 1px solid black;
  background: none;
  padding: 10px 30px;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.section5 {
  width: 100%;
}

.section5 .mobilecyber {
  display: none;
}

.section6 {
  width: 100%;
}

.section6 .shop-category {
  text-align: center;
  padding: 50px 10px;
}

.section6 .shop-category h1 {
  display: inline;
  font-size: 1.1em;
  font-weight: bolder;
}

.section6 .shop-category a {
  float: right;
  color: black;
  font-size: 0.9em;
}

.section6 .shop-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
}

@media (max-width: 800px) {
  .section6 .shop-categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section6 .shop-categories div {
  width: 200px;
}

.section7 {
  width: 100%;
}

.section7 .what-is-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section7 .what-is-new a {
  color: black;
}

@media (max-width: 800px) {
  .section7 .vr {
    width: 100%;
  }
}

.section7 .what-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .section7 .what-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section7 .what-new .newitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
}

@media (max-width: 800px) {
  .section7 .what-new .newitems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    justify-items: center;
  }
}

.section7 .what-new .newitems .new {
  color: blue;
  background: skyblue;
  margin-right: 200px;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

.section7 .what-new .newitems img {
  width: 100%;
}

.section7 .what-new .newitems p {
  font-size: 0.9em;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.section7 .what-new .newitems .iconify-inline {
  padding-right: 2px;
  color: grey;
}

.section7 .what-new .newitems button {
  background: none;
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px 30px;
  margin-top: 20px;
}

.section8 {
  background: #cecbcb;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .section8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section8 .section8-div {
  background: white;
  margin: 50px 10px;
  text-align: center;
  padding: 80px 10px;
  width: 250px;
  border-radius: 10px;
}

.section8 .section8-div .iconify {
  font-size: 3em;
}

.section8 .section8-div a {
  text-decoration: none;
}

.section8 .section8-div a h1, .section8 .section8-div a p {
  color: black;
  font-size: 1em;
}

.section9 {
  background: #06068f;
}

.section9 .section9-div {
  text-align: center;
  color: white;
}

.section9 .section9-div h1 {
  padding-top: 50px;
  font-size: 2.5em;
}

.section9 .section9-div h1 span {
  color: #6eeee8;
}

.section9 .section9-div .whys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .section9 .section9-div .whys {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section9 .section9-div .whys .why {
  width: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

.section9 .section9-div .whys .why .iconify {
  font-size: 3.5em;
  color: #6eeee8;
}

.section9 .section9-div .whys .why h2 {
  font-size: 1em;
  padding-top: 20px;
}

.section9 .section9-div .whys .why p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section9 .section9-div .whys .why a {
  color: white;
  padding-top: 20px;
}

.footer {
  background-color: #ecebeb;
  width: 100%;
}

.footer .div1 {
  text-align: center;
}

.footer .div1 h1 {
  padding-top: 50px;
  font-size: 1.2em;
}

.footer .div1 p {
  font-size: 0.9em;
  padding-top: 20px;
}

.footer .div1 form {
  padding-top: 30px;
}

.footer .div1 form input {
  width: 30%;
  height: 40px;
  border-radius: 50px;
  border: 1px solid gray;
}

.footer .div1 form input[placeholder] {
  padding: 10px 20px;
}

.footer .div1 form button {
  padding: 10px 60px;
  height: 40px;
  background-color: #06068f;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.footer .divfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  padding: 60px 10px;
}

@media (max-width: 800px) {
  .footer .divfooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .divfooter .div2 {
  display: block;
  text-decoration: none;
}

.footer .divfooter .div2 .h3 {
  font-size: 0.9em;
  padding-bottom: 30px;
}

.footer .divfooter .div2 .a-footer {
  text-decoration: none;
  color: black;
  padding-bottom: 30px;
  font-size: 0.8em;
}

.footer .divfooter .div2 .h3 {
  text-decoration: none;
}

.footer .divfooter .div2 .h3 a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-size: 1.4em;
}

.footer .divfooter .div2 .h3 a span {
  text-decoration: underline;
}

.footer .divfooter .div2 p {
  font-size: 0.8em;
}

.footer .divfooter .div2 p .iconify {
  font-size: 30px;
  margin-right: 20px;
  margin-top: 10px;
}

.footer .divfooter .div2 div .iconify {
  font-size: 2.9em;
  margin-top: 30px;
  color: gray;
}

.footer .lastfooterdiv {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 10px;
}

.footer .lastfooterdiv .last-footer p {
  padding: 5px 0px;
  font-size: 0.8em;
  color: darkgray;
}

.footer .lastfooterdiv .last-footer1 .iconify {
  font-size: 2em;
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */